<!DOCTYPE html>
<html lang="en">

<head>
    <title>Düzenle: {{ todo.title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='clock.css') }}">

    <!-- Boostrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>

<body class="bg-dark text-white">

    <!-- Tood app container start -->
    <div class="container py-5">

        <!-- Todo app heading -->
        <h2><strong>Todo Düzenle:</strong> {{ todo.title }}</h2>
        <hr class="bg-white">

        <p class="lead">
            {{ todo.content }}
        </p>

        <p class="lead">
            <strong>Durum: </strong>

            {% if todo.complete %}
                Tamamlandı
            {% else %}
                Bekliyor
            {% endif %}
        </p>

        <p class="lead">
            <strong>Oluşturuldu:</strong> {{ todo.date }}
        </p>

        <p class="lead">
            {% if todo.finished_date %}
                <strong>Bitirilme zamanı:</strong> {{ todo.finished_date }}
            {% endif %}
        </p>

        <!-- Todo app input container start -->
        <form action="/change/{{ todo.id }}" method="post" class="py-4 needs-validation" id="todo-form" novalidate>
            <h4>Yeni Todo Adı ve İçeriği</h4>

            <div class="form-group">
                <label for="todo-name">Yeni Todo Adı</label>
                <input type="text" class="form-control" name="new_todo_name" id="todo-name" placeholder="Yeni todo adını buraya yazınız..." required autocomplete="off">
                <div class="invalid-feedback">
                    Lütfen bu alanı boş bırakmayınız!
                </div>
            </div>
            <div class="form-group">
                <label for="todo-content">Yeni Todo İçeriği</label>
                <textarea type="text" class="form-control" name="new_todo_content" id="todo-content" placeholder="Yeni todo içerğini buraya yazınız..." required autocomplete="off"></textarea>
                <div class="invalid-feedback">
                    Lütfen bu alanı boş bırakmayınız!
                </div>
            </div>

            <div class="custom-control custom-checkbox form-group">
                <input type="checkbox" class="custom-control-input" id="customCheck1" name="keep_date">
                <label class="custom-control-label" for="customCheck1">
                    Mevcut tarihi koru <strong>[{{ (todo.date|string)[:10] }}]</strong>
                </label>
            </div>

            <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Değiştir ve kaydet: {{ todo.title }}">Değiştir</button>

            <a href="/" class="btn btn-danger">Vazgeç</a>
        </form>

    </div>




    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='clock.js') }}"></script>

    <script src="{{ url_for('static', filename='clock.js') }}"></script>

</body>

</html>
